@CHARSET "UTF-8";

body{
	
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin:0px;
	font-weight:normal;
}


header{
	
	padding: 5px 0px;
	margin-bottom:20px;
	height:75px;
	background-color: #00008B;
	color: #fff;
	
	box-shadow: 0px 2px 2px #ccc;
	
	
}

header > div{
	
	margin-left: 8px;
	margin-top:2.5px;
	height: 75px;
	
}
footer{
	padding: 0px 8px;
	margin-bottom: 10px;
	height:70px;
	background-color: #00008B;
	color: #fff;
	
	box-shadow: 0px 2px 2px #ccc;
}

#conteudo{
	padding: 0px 8px;
}

h1{
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
}

#login-dialog{
	width: 290px;
	margin: auto;
	margin-top: 150px;
	
}

.grid-login{
	background-color: #f2f2f2;
	border-radius:8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
}
.rotulo{
	width: 130px;
}

.ui-panelgrid td{	
	height: 34px;	
}

.ajax-status{
	position: fixed;
	top: 55px;
	right: 10px;
	width: 70px;
	height: 70px;
}
#logoPrincipal{
	
    width: 125px;
    margin-top: -28px;
	
}

#logo{
	
    width: 19%;
    height: 70px;
    min-width: 6%;
    display: inline-block;
	
}

#nome-logo{
	position: relative; 
	width: 60%;
	top: -48px;
	min-width: 10%;
	height: 70px;
	display: inline-block;
	
	
}
#IS{
	font-size: 40px;
}
#nomes_botoes{
	
	width: 15%; 
	display: inline-block; 
	position: relative; 
	top: -40%;
}
/* 
.ui-datatable-tablewrapper{
	width:137%;
}
*/
/*  
.ui-datatable{
	padding-left: 12.99%;
}
*/
#botaoAluno{
	padding-left: 12.99%;

	width: 105%;
}

#columOpc{
	
	border: 1px solid white;
	
	
}

table {
	width: 100%;
	
}

table tbody > tr >td{
	width: 0px;
	
}

.largura{
	width: 100% !important;
	
}

table tbody tr td span > input{
	width: 100% !important;
}

.form60{
	width: 70%;
}

.form25{
	width: 25%;
}
